@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Vazirmatn;
    src: url(/assets/font/Vazirmatn-Regular.ttf);
}


*{
    box-sizing: border-box;
    font-family: Vazirmatn;
    direction: rtl;
    text-align: right;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 24px;
	height: 24px;
	-webkit-appearance: none;
  /* @apply w-6 h-6 appearance-none pointer-events-auto; */
  }